<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
   
  <div class="container">
    <div class="row">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Edit Food Details
                    </div>
                     </div>  
                <div class="panel-body" >
                    <form action="/update/" id="EmployeeForm" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%= product._id %>"
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                            
                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">Title</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="title" value="<%= product.title %>" placeholder="Enter the Title">
                            </div>
                        </div>
                          
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="description" value="<%= product.description %>" placeholder="Description">
                            </div>
                        </div>
                            
                        <div class="form-group">
                                <label for="category" class="col-md-3 control-label">Category</label>
                                <div class="col-md-9">
                                <select class="form-control" name="category">
                                <option value="snacks" <% if(product.category == "snacks"){ %> selected <% } %>>Snacks</option>
                                <option value="beverages" <% if(product.category == "beverages"){ %> selected <% } %>>Beverages</option>
                                <option value="cold-drinks" <% if(product.category == "cold-drinks"){ %> selected <% } %>>Cold Drinks</option>
                                <option value="desserts" <% if(product.category == "desserts"){ %> selected <% } %>>Desserts</option>
                                </select>
                                </div>
                            </div>

                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Food Type</label>
                            <div class="col-md-9">
                            <select class="form-control" name="foodtype">
                            <option value="Veg" <% if(product.foodtype == "Veg"){ %> selected <% } %>>Veg</option>
                            <option value="Non-Veg" <% if(product.foodtype == "Non-Veg"){ %> selected <% } %>>Non-Veg</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Price</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="price" value="<%= product.price %>" placeholder="Price">
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="icode" class="col-md-3 control-label">Product Image</label>
                            <div class="col-md-9">
                                <input type="file" class="form-control" name="file" >
                            </div>
                        </div>
                        <% if(product.imagePath) { %> 
                            <img src="<%= product.imagePath %>" alt="product image" width="80">
                        <% } %>
                            
                       
                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                            <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </form>
                 </div>
            </div>

       
       
        
 </div> 
    </div>
  </div>
  </body>
</html>
